body {
  background-color: whitesmoke;
}

.navTitle {
  font-weight: 800;
  font-size: xx-large;
}

.blogBox {
  margin-top: 9px;
  border-style: solid;
}

.blogTitle {
  text-decoration: none;
  color: black;
}

.blogDesc {
  border-style: solid;
  margin-bottom: 6px;
  padding: 3px;
  background-color: beige;
}

.blogDescMain {
  font-weight: 750;
}

.blogDescTwo {
  font-size: 27px;
  font-style: italic;
}

.blogCreate {
  font-weight: bold;
  font-style: italic;
  font-size: 13px;
  padding: 6px;
  color: black;
}

.blogBoxCont {
	margin-top: 12px;
  border-style: solid;
  background-color: gainsboro;
}

.formCont {
  margin-top: 12px;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}


.commentCont {
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  max-width: 75%;
  background-color: gray;
}

.commentOwner {
  font-size: 14px;
}

.btnComment {
  margin-top: 10px;
}

.commentText {
  font-weight: bold;
  padding-top: 10px;
  background-color: gainsboro;
}

.commentCont {
  border-style: dashed;
}

.headerRow {
  background-color: gray;
  margin-bottom: 10px;
}

a:link {
  color: black;
}
a:visited {
  color: blue;
}

a:hover {
  color: deeppink;
}

.login{
	margin-left: 25px;
}

.signup{
	margin-left: 25px;
}

.form-group{
	margin-top: 10px;
}